{% extends 'base.html' %}
{% block content%}
	<p style="text-align: center;" method="POST">
		Ha habido un error con los argumentos introducidos, este error ha sido: 
	</p>
	{% if error=='401' %}
		<p>401: Permisos insuficientes</p>
	{% endif %}
	{% if error=='404' %}
		<p>404: Proyecto no encontrado</p>
	{% endif %}
	<p>por favor, intentelos de nuevo.
	</p>
	<div style="text-align: center;">
		<form action="/Extraer" >
			<button type="submit" title="Vuelve a la página de extracción">Volver a Extraer</button>
		</form>
	</div>
{% endblock %}