{% extends 'base.html' %}
{% block content %}
	{% if pred is not none %}
		<div > Las etiquetas predichas para la issue anterios son:</div><br></br>
		<div class="predictions">
			<ul>
			{% for label in pred %}
				<li>
					{{label}}
				</li>
			{% endfor %}
			</ul>
		</div>
		<div> Si desea predecir de nuevo con este modelo rellena de nuevo los campos, en caso contrario vuelve al inicio, el modelo se perderá.
	{% endif %}
	<br></br>
	<div>
	{% with modelo = session['modelo'] %}
			<details>
				<summary>Detalles del modelo</summary>
				<p> Repositorios utilizados: {{modelo[0]}} </p>
				<p> Algoritmo del clasificador: {{modelo[6]}} </p>
				<p> Clasificador por etiqueta: {{modelo[7]}} </p>
				<p> Uso de Stop Words: {{modelo[1]}} </p>
				<p> Idioma de Stop Words: {{modelo[2]}} </p>
				<p> Uso de comentarios: {{modelo[3]}} </p>
				<p> Metodo de conteo de palabras: {{modelo[4]}} </p>
				<p> Uso de issues sin etiqueta: {{modelo[5]}} </p>
			</details>
		{% endwith %}
	<form method="POST">
		{% from "Macro_forms.html" import show_form %}
		{{show_form(formulario.titulo)}}
		{{show_form(formulario.descripcion)}}
		{% if com == 'True' %}
			{{show_form(formulario.comentarios)}}
		{% endif%}
		{{show_form(formulario.estado)}}
		<button type="submit" title="Predecir para una issue concreta las etiquetas">Predecir</button>
	</form>
	<div>Una vez introducidos los datos y enviados puede tardar en función de los parametros seleccionados, por favor espere.</div>
	</div>
{% endblock %}