{% extends 'base.html' %}
{% block content%}
	<div style="text-align: center;" class="mainPageEl">Opciones a realizar:</div>
    <div style="text-align: center;" class="mainPageEl">
		<div>Extrae un repositorio para tenerlo disponible posteriormente a la hora de entrenar al modelo.</div>
		<form action="./Extraer/" >
			<button type="submit" title="Extrae un repositorio para tenerlo disponible posteriormente a la hora de entrenar al modelo">Extraer</button>
		</form>
		<br></br>
	</div>
	<div style="text-align: center;" class="mainPageEl">
		<div>Seleccione con que repositorios entrenar al modelo y predice la etiqueta de una issue en base a él.</div>
		<form action="./Predecir/">
			<button type="submit" title="Seleccione con que repositorios entrenar al modelo y predice la etiqueta de una issue en base a él">
				Predecir</button>
		</form>
	</div>
{% endblock %}